@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyIdentityUser> SignInManager
@inject ApplicationDbContext Db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Ecommerce0</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/css/site.css" />

    @*Dynamic CSS inside style tage section*@
    @RenderSection("CSS", required: false)

    @*Jquery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0; z-index:1000">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/index">Landing Page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/me/index">Shopping</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/privacy">About</a></li>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown0">
                                <li><a class="dropdown-item" href="/me/create">New Book</a></li>
                                <li><a class="dropdown-item" href="/cat/create">New Category</a></li>
                                <li><a class="dropdown-item" href="/taggy/createTag">New Tag</a></li>
                                <li><a class="dropdown-item" href="/auth/RoleCreate">New Role</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Role</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown0">
                                <li><a class="dropdown-item" href="/Auth/RoleIndex">View all roles</a></li>
                                <li><a class="dropdown-item" href="/Auth/RoleUserIndex">View users 's role'</a></li>
                            </ul>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/cat/index">All Categories</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>                

                @if(User.Identity.IsAuthenticated)
                {
                    var currUser = Db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).SingleOrDefault();
                    <ul class="navbar-nav d-flex justify-content-end align-items-center flex-grow-1">
                        <a asp-page="/shop/cart" class="btn btn-outline-dark m-2" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">@GlobalVar.CartItemCount</span>
                        </a>                    
                        <li id="myUserIcon" class="nav-item position-relative pl-5" style="cursor:pointer">
                            <img src="@currUser.AvatarPath" alt="avatar" class="rounded-circle img-fluid mx-3" style="width:35px;height:35px;">@User.Identity.Name
                        
                            <div id="myUserOptions" class="container p-2 position-absolute top-100 l  bg-dark text-white-50 rounded text-center" style="width:250px;">
                                <p><a href="/auth/profile" class="d-block btn btn-dark"><i class="fas fa-user px-3"></i>Profile</a></p>
                                <p><a asp-page="/auth/logout" class="d-block btn btn-dark"><i class="fas fa-door-open px-3"></i>Logout</a></p>
                                <p></p>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                <ul class="navbar-nav d-flex justify-content-end align-items-center flex-grow-1">
                    <a asp-page="/shop/cart" class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@GlobalVar.CartItemCount</span>
                    </a>
                    <li class="nav-item">
                        <a asp-page="/auth/login" class="btn btn-outline-dark"><i class="fas fa-user p-1"></i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/auth/register" class="btn btn-outline-dark"><i class="fas fa-book p-1"></i>Register</a>
                    </li>
                </ul>
                }
            </div>
        </div>
    </nav>
    @*Header is contained in partial view _IndexHeader in PartialView folder and is included in Index.cshtml*@
    <!-- Section-->
    <section class="py-5">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark text-white-50">
            <div class="row">
                <div class="col-2">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-2">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-2">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>

                <div class="col-4 offset-1">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of whats new and exciting from us.</p>
                        <div class="d-flex w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>© 2021 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*Font Awesome icon script*@
        <script src="https://kit.fontawesome.com/4c8f96e5e8.js" crossorigin="anonymous"></script>
        @RenderSection("Scripts", required: false)
        <script>
            $(document).ready(function () {
                $("#myUserOptions").hide();
                $("#myUserOptions").mouseleave(function () {
                    $("#myUserOptions").fadeOut();
                });
                $("#myUserIcon").mouseenter(function () {
                    $("#myUserOptions").fadeToggle();

                });
            });
        </script>
    </section>
</body>
</html>
