@page "/detail"
@model Ecommerce0.Pages.Me.DetailModel
@inject Ecommerce0.Modals.ApplicationDbContext Db

<div class="container-fluid">
    <div class="card">
        <div class="card-img-top">
            <img src="@Model.Book.Image" alt="xxx" style="width: 100%; height: auto;" />
        </div>

        <div class="card-body">
            <h2 class="p-0 m-0">@Model.Book.Title</h2>
            <small class="font-italic font-weight-light">Modified on: @(Model.Book.ModifiedDate.DayOfWeek), @(Model.Book.ModifiedDate.ToShortDateString()) at @(Model.Book.ModifiedDate.ToShortTimeString())</small>
            <br />
            @if (Model.Book.Category != null)
            {
                if (Model.Book.Category.Name != null)
                {
                    <strong class="h5 p-2">Category:</strong>
                    <span class="text-sm-start text-secondary h6">@Model.Book.Category.Name</span>
                    <hr/>
                }
            }
            <br />
            @Html.Raw(Model.Book.Description)
        </div>

        <div class="card-footer">
            <span class="text-success">@Model.Book.Price$</span>
        </div>
    </div>
    <br />

    <div class="container row">
        <div class="col-12 justify-content-center align-items-center">
            <a asp-page="/shop/cart" asp-page-handler="BuyNow" asp-route-id="@Model.Book.Id" class="btn btn-primary">
                Add To <i class="fas fa-cart-plus"></i>
            </a>
        </div>
    </div>
    <div class="container mb-4 clearfix">
        <div class="float-end">
            @*Có / trước me để nó không thêm sau vào url hiện tại*@
            <a href="/me/index/" class="btn btn-outline-secondary">Back</a>
            @if(User.Identity.IsAuthenticated)
            {
            <a href="/delete/?id=@Model.Book.Id" class="btn btn-outline-danger">Delete</a>
            <a href="/edit/?id=@Model.Book.Id" class="btn btn-outline-success">Edit</a>
            }
        </div>
    </div>

    @{var currUser = Db.Users.Where(u => u.Id == Model.CurrentUserId).SingleOrDefault();} 
    <section id="myReviewSection" class="card shadow p-5 my-4 mx-5">
        <h2 class="p-2 bg-dark text-white mb-5">Reviews on Product:</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="myReviewCreate mb-5">
                <form method="post">
                    <div class="row col-8 rounded p-3" style="background-color: #ededed">
                        <div class="col-1 text-center lead">
                            @if(currUser.AvatarPath != null)
                            {
                                <img src="@currUser.AvatarPath" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75" />

                            }
                            else {
                                <img src="~/assets/img/default-profile.png" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75" />
                            }
                            <small>@User.Identity.Name</small>
                        </div>
                        <div class="col-11">
                            <input type="hidden" asp-for="@Model.CurrentUserId" />
                            <input type="hidden" asp-for="@Model.Book.Id" />
                            <textarea asp-for="@Model.CreatedReview.ReviewDetail" class="form-text form-control-plaintext border-1 border-dark rounded bg-white"
                                      style="height:150px;" placeholder="Bạn đang nghĩ gì về sản phẩm này?">
                            </textarea>
                        </div>
                    </div>
                    <div class="clearfix col-8 px-3">
                        <button type="submit" class="float-end btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <span class="lead">Want to share your thought? <a href="/auth/login">Login</a> first</span>
        }
        <div id="myProductReviews" class="mx-5">
            @foreach (var review in Model.TopFiveRecentReviewsOfThisProduct)
            {
                <hr class="mt-5">
                <div class="row col-8 rounded p-3" style="background-color: #ededed">
                    <div class="col-1 text-center lead">
                        @if (review.User.AvatarPath != null)
                        {
                            <img src="@review.User.AvatarPath" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75" />
                        }
                        else
                        {
                            <img src="~/assets/img/default-profile.png" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75" />
                        }
                        <small>@review.User.UserName</small>

                    </div>
                    <div class="col-11">
                        <small class="text-black font-weight-bold">On: @review.UpdatedOn</small>
                        <div class="shadow rounded bg-white p-2" style="height:100px;">
                            @review.ReviewDetail
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>    
    } 
  
</div>
@section Scripts {
    <script>
        let displayedReviewsCount = 5;
        let bookId = @Model.Book.Id;

        function addFiveCommentToReviewSection(data) {
            let htmlString = "";           
            for (var i = 0; i < data.length; i++) {                
                htmlString += '<hr class="mt-5">';
                htmlString += '<div class="row col-8 rounded p-3" style="background-color: #ededed">';
                htmlString += '<div class="col-1 text-center lead">';
                /*html do not understand ~ as root*/
                if (data[i].user.avatarPath != null)
                    htmlString += '<img src="' + data[i].user.avatarPath + '" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75"/>';
                else
                    htmlString += '<img src="~/assets/img/default-profile.png" class="rounded-circle border-1 border-dark" alt="Alternate Text" width="75" height="75"/>';

                htmlString += '<small>' + data[i].user.userName + '</small></div><div class="col-11">';
                htmlString += '<small class="text-black font-weight-bold">On: ' + data[i].updatedOn + '</small>'
                htmlString += '<div class="shadow rounded bg-white p-2" style="height:100px;">' + data[i].reviewDetail + '</div></div></div>';
            }
            $("#myProductReviews").append(htmlString);
        }

        $(document).scroll(function () {
            if ($(document).height() <= $(window).scrollTop() + $(window).height()) {
                //gửi ajax request tới handler OnGetLoadMoreReviews
                $.ajax({
                    url: "?handler=LoadMoreReviews",
                    type: "get",
                    data: { reviewsToSkipCountStr: displayedReviewsCount ,bookIdStr: bookId},
                    contentType: "text/plain",
                    dataType: "json",
                    success: function (jsonData) {
                        //add
                        addFiveCommentToReviewSection(jsonData);
                        displayedReviewsCount += 5;
                    }
                })
            }
        })

    </script>

}
